// Imports

@import "./node_modules/bootstrap/scss/bootstrap.scss";


$primary: #000;
$secondary: #d5b992;
$white: #ffffff;

body {
    display: grid;
    justify-content: center;
}
header {
    align-items: center;
    align-content: center;
    height: 350px;
    width: 100%;
}
.navbar {
    height: 80px;
    border-bottom: 1px solid #898383;
}

.navbar-brand {
    border-bottom: #d5b992;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: $secondary !important;
}

.container-fluid {
    margin-top: 16px;
    height: 160px;
    width: 950px;
    padding: 0px;
}
.inicio-productos {
    display: flex;
    border-left: 2px solid #ffffff;
    margin-bottom: 16px;
    margin-left: 8px;
}
.inicio-productos a , .inicio-productos p {
    color: #898383;
    margin: 6px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

.container-fluid2 img {
    margin-left: 16px;
    padding-bottom: 30px;
    border-bottom: 1px  dashed #ffffff;
}

.container-fluid3 {
    width: 950px;
    border-right: 1px solid #898383;
}

.Auxiliar-texto {
    margin-left: 16px;
    width: 346px;
    margin-top: 16px;
}

.principal-content {
    background-color: #ffffff;
}

.container-1 {
    position: static;
    width: auto;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.imagen-fondo1 {
    z-index: 2;
}
.imagen-fondo2 {
    z-index: 1;
}
.imagen-fondo3 {
    z-index: 4;
}
.imagen-fondo4 {
    z-index: 3;
}

.container2 {
    width: inherit;
    height: 100px;
}

.settingtext {
    word-spacing: 2rem;
    font-size: 2rem;
}
.figure-img {
    margin-right: 20px;
}

.image-container {
    top: -250px;
}

.container-phone-text {
    width: 400px;
    max-width: 450px;
    position: relative;
    left: 25%;
}
.container-phone-text :nth-child(1){
    font-size: 2rem;
}
.container3 {
    height: 340px;
    padding: 0;
    width: 100%;
    max-width: 1300px;
}
.image-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1300px;
    min-width: 500px;
}
.container-images {
    margin-left: 0;
    padding: 0;
}

.figure-into-banner {
    top: 50px;
    left: 15px;
}

.title-newsletter {
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 1px;
}

.title-newsletter {
    width: 100%;  
    border-bottom: 1px solid #d5b992;
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 

.title-newsletter span { 
    background:#fff; 
    padding:0 10px;
    z-index: 0;
}
.title-border {
    margin: 0 auto;
}

.form-control-select {
    background-image: url('./assets/arrow.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 23.5rem;
    background-size: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 3px;
    text-indent: 0.75rem;
    color: #898383;
}
.interfaz-cell {
    background-color: #dcdcdd;
    height: 40px;
    width: 25rem;
    min-width: 25rem;
}

.input-id {
    margin-left: 0.75rem;
}

.form-check-label {
    font-size: 0.75rem;
    color: #898383;
    text-decoration: underline;
    align-self: center;
}

.btn-default {
    background-color: #e0a44f;
    border: #ea9115;
    font-size: 1rem;
    color: #898383;
    width: 150px;
    border-radius: 0;
    margin-right: 8px;
}

.fa-facebook {
    background-image: url('./assets/facebook.png');

}

.fa-instagram {
    background-image: url('./assets/instagram.png');

}

.fa-youtube {
    background-image: url('./assets/social.png');
}

.fa {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    outline: none;
}

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);